@model Khabarho.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}

<div class="mt-2 container_post">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title" class="form-label">Название категории</label>
                <input class="form-control" id="title" asp-for="Title"/>
            </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
