@model Khabarho.ViewModels.TypeViewModels.TypeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title" class="form-label">Название типа</label>
                <input class="form-control" id="title" asp-for="Title"/>
            </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
